<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>services</title>
    {% include "header.html" %}
  </head>
  <body>
    {% include "navbar.html" %}
    <h1>All Services</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nostrum
      voluptatum commodi cupiditate recusandae. Debitis possimus eum esse
      suscipit maiores in officiis ducimus. Beatae ipsam voluptas eum eligendi.
      Ducimus, voluptatem?
    </p>
    {% include "footer.html" %}
  </body>
</html>
